.footer {
  padding: 150px 0;
  background: url("../images/background/footer_background.jpg") center / cover
    no-repeat;

  &__logo {
    display: flex;
    justify-content: flex-start;
  }

  @media (max-width: 1023px) {
    padding: 100px 0;
  }
  @media (max-width: 767px) {
    padding: 75px 0;
    &__logo {
      flex-direction: column;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__column-soc {
    display: flex;
    justify-content: flex-end;
  }

  &__list-item,
  &__list-soc {
    display: flex;
  }

  &__links-footer {
    &:nth-child(2) {
      margin: 0 85px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:nth-child(1) {
      margin: 0 15px 0 0;
    }
    &:nth-child(2) {
      margin: 0 15px;
    }
    &:nth-child(3) {
      margin: 0 15px;
    }
    &:nth-child(4) {
      margin: 0 0 0 15px;
    }
  }
  @media (max-width: 1100px) {
    &__links-footer {
      &:nth-child(2) {
        margin: 0 40px;
      }
    }
    &__links {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      &:nth-child(1) {
        margin: 0 7.5px 0 0;
      }
      &:nth-child(2) {
        margin: 0 7.5px;
      }
      &:nth-child(3) {
        margin: 0 7.5px;
      }
      &:nth-child(4) {
        margin: 0 0 0 7.5px;
      }
    }
  }
  @media (max-width: 1023px) {
    &__list-item {
      flex-direction: column;
    }
    &__links-footer {
      display: flex;
      justify-content: center;
      &:nth-child(2) {
        margin: 20px 0;
      }
    }
  }
  @media (max-width: 767px) {
    &__column {
      flex: 0 1 33.333%;
      text-align: center;
    }
    &__list-soc {
      flex-direction: column;
    }
    &__links {
      &:nth-child(1) {
        margin: 0 0 7.5px 0;
      }
      &:nth-child(2) {
        margin: 7.5px 0;
      }
      &:nth-child(3) {
        margin: 7.5px 0;
      }
      &:nth-child(4) {
        margin: 7.5px 0 0 0;
      }
    }
  }
  @media (max-width: 365px) {
    &__list-soc {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__links {
      &:nth-child(1) {
        margin: 0 7.5px 7.5px 0;
      }
      &:nth-child(2) {
        margin: 0 0 7.5px 7.5px;
      }
      &:nth-child(3) {
        margin: 7.5px 7.5px 0 0;
      }
      &:nth-child(4) {
        margin: 7.5px 0 0 7.5px;
      }
    }
  }
}

.logo {
  display: flex;
  &__title {
    &_footer {
      display: flex;
    }
  }
  @media (max-width: 413px) {
    &__title {
      &_footer {
        display: none;
      }
    }
  }
}

.icon-pinterest,
.icon-vk,
.icon-facebook,
.icon-instagram,
.icon-telegram {
  color: #134731;
  font-size: 18px;
}
