.header {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
  z-index: 25;
  &__logo {
    display: flex;
  }

  @media (max-width: 767px) {
    top: 10px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    display: flex;
    margin: 0 15px 0 0;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    @include adaptiv-font(32, 20);
    line-height: 60px;
    text-transform: uppercase;
    color: #f7f7f7;
  }
  @media (max-width: 767px) {
    z-index: 27;
    &__title {
      display: none;
    }
    &__img {
      width: 36px;
      height: 32px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__body {
    display: flex;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__links-header {
    &:nth-child(1) {
      margin: 0 61px 0 0;
    }
    &:nth-child(2) {
      margin: 0 64px 0 0;
    }
    &:nth-child(3) {
      margin: 0 66px 0 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    @include adaptiv-font(23, 20);
    color: #f7f7f7;
    &_btn {
      height: 50px;
      border: 2px solid #cd6326;
      box-sizing: border-box;
      border-radius: 5px;
    }
    span {
      padding: 0 23px;
      font-family: "Roboto", sans-serif;
    }
    &_btn:hover {
      background: #cd6326;
    }
    &_btn:active {
      background: #8f5613;
      border-color: #8f5613;
    }
  }
  @media (max-width: 767px) {
    &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      display: flex;
      justify-content: center;
      overflow: auto;
      padding: 110px 0 0 0;
      transition: top 1s ease 0s;
      z-index: 3;
    }
    &__body.active {
      top: 0;
      background: rgb(2, 49, 2, 0.5);
    }
    &__list {
      flex-direction: column;
    }
    &__links-header {
      padding: 0 0 45px 0;
    }
  }
  @media (max-width: 900px) {
    &__links-header {
      &:nth-child(1) {
        margin: 0 25px 0 0;
      }
      &:nth-child(2) {
        margin: 0 25px 0 0;
      }
      &:nth-child(3) {
        margin: 0 25px 0 0;
      }
    }
  }
  @media (max-width: 767px) {
    &__links-header {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin: 0;
      }
    }
  }
}

.burger-menu {
  @media (max-width: 767px) {
    display: flex;
    position: absolute;
    top: 7px;
    right: 15px;
    width: 30px;
    height: 18px;
    z-index: 5;
    cursor: pointer;
    span {
      position: absolute;
      top: 8px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #f7f7f7;
      transition: all 0.7s ease 0s;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}
